$orange1: #f7f0d9;
$orange2: #f8f0d5;
$orange3: #f1ac41;
$orange4: #ef8f35;
$orange5: #ea5727;
$orange6: #ffe66b;
$orange7: #e94627;
$orange8: #c65314;
$orange9: #e26a2c;
$orange10: #ff8243;
$orange11: #ffae69;
$orange12: #ffd792;
$orange13: #f7f0d9;
.home {
  background-color: $orange8;
  height: 100hv;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid #212121;
    border-radius: 10px;
    width: 65%;
    height: 600px;
    display: flex;
    overflow: hidden;
    .sidebar {
      flex: 1;
      background-color: $orange10;

      .navbar {
        display: flex;
        align-items: center;
        background-color: $orange2;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: $orange3;
        .user {
          display: flex;
          gap: 20px;
        }
        img {
          background-color: #ddddf7;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;
          input {
            background-color: $orange2;
            border: none;
            color: black;
            &::placeholder {
              color: lightgrey;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: $orange7;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgrey;
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo{
        height: 50px;
        background-color: $orange4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: #212121;
      }
      .chatIcons{
        display: flex;
        gap: 10px;
        .action-icon{
            font-size: 20px;
            cursor: pointer;
        }
      }
    }
  }
}
