$orange1: #f7f0d9;
$orange2: #f8f0d5;
$orange3: #f1ac41;
$orange4: #ef8f35;
$orange5: #ea5727;
$orange6: #ffe66b;
$orange7: #e94627;
$orange8: #c65314;
$orange9: #e26a2c;
$orange10: #ff8243;
$orange11: #ffae69;
$orange12: #ffd792;
$orange13: #f7f0d9;
@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}
 
.home {
  background-color: $orange1;
  height: 100hv;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .container {
    border: 1px solid #212121;
    border-radius: 20px;
    width: 70%;
    height: 600px;
    display: flex;
    overflow: hidden;
    @include tablet{
        width: 90%;
    }
    .sidebar {
      flex: 1;
      background-color: $orange10;

      .navbar {
        display: flex;
        align-items: center;
        background-color: $orange12;
        height: 50px;
        padding: 10px;
        font-family: system-ui;
        font-weight: bold;
        justify-content: space-between;
        color: #212121;
        .user {
          display: flex;
          gap: 20px;
        }
        img {
          background-color: #0000ff;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;
          width: 100px;
          input {
            background-color: $orange2;
            height: 25px;
            border: none;
            border-radius: 5px;
            color: black;
            &::placeholder {
              color: lightgrey;
            }
          }
        }
      }
      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: $orange7;
        }

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userChatInfo {
          span {
            font-size: 15px;
            font-weight: 600;
          }
          p {
            font-size: 12px;
            color: lightgrey;
          }
        }
      }
    }
    .chat {
      flex: 2;
      .chatInfo {
        height: 50px;
        background-color: $orange4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: #212121;
        font-size: 20px;
        font-weight: bold;
      }
      .chatIcons {
        display: flex;
        gap: 10px;
        .action-icon {
          font-size: 20px;
          cursor: pointer;
        }
      }
      .messages{
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;
        overflow-x: hidden;

        .message{
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            .messageInfo{
                display: flex;
                flex-direction: column;
                color: gray;
                font-weight: 300;
                img{
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .messageContent{
                max-width: 80%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    background-color: white;
                    padding: 10px 20px;
                    border-radius: 0px 10px 10px 10px;
                    max-width: max-content;
                }
                img{
                    width: 50%;
                }
            }
            &.owner{
                flex-direction: row-reverse;
                .messageContent{
                    align-items: flex-end;
                }
                p{
                    background-color: $orange2;
                    color: rgb(14, 14, 14);
                    border-radius: 10px 0px 10px 10px;
                }
            }
        }
      }
      .input{
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input{
            width: 100%;
            border: none;   
            outline: none;
            color: #000000;
            font-size: 18px;
            &::placeholder{
                color: rgb(144, 144, 144);
            }
        }
        .send{
            display: flex;
            align-items: center;
            gap: 10px;
            .send-icon{
                font-size: 24px;
                cursor: pointer;
            }
            button{
                border: none;
                border-radius: 30px;
                padding: 10px 15px;
                color: white;
                background-color: $orange3;
                cursor: pointer;
            }
        }
      }
    }
  }
  div::-webkit-scrollbar{
    width: 10px;
    background-color: $orange3;
  }
  div::-webkit-scrollbar-thumb{
    background: rgba($color: $orange9, $alpha: 1.0);
    border-radius: 10px;
    border-right: 2px solid $orange6;
  }
  
}

