
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
$orange1: #f7f0d9;
$orange2: #f8f0d5;
$orange3: #f1ac41;
$orange4: #ef8f35;
$orange5: #ea5727;
$orange6: #ffe66b;
$orange7: #e94627;
$orange8: #c65314;
$orange9: #e26a2c;
$orange10: #ff8243;
$orange11: #ffae69;
$orange12: #ffd792;
$orange13: #f7f0d9;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $orange2;
}

.login-wrapper {
  height: 850px;
  background-color: $orange2;
  .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: system-ui;
    font-weight: 500px;
    font-size: 60px;
    color: $orange10;
  }
  .sub-heading {
    margin-top: -20px;
    font-family: system-ui;
    font-weight: 700;
  }
}

.login-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: $orange4;
  border-radius: 30px;
  outline: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  margin-top: 45px;
}

.login-btn:hover {
  background-color: $orange13;
  color: $orange4;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  width: 400px;
  height: 300px;
  position: relative;

  .common-input {
    color: $orange7;
    padding: 1rem;
    border: 2px solid $orange12;
    border-radius: 10px;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $orange2;
    height: 20px;
    font-family: system-ui;
    font-size: 16px;
    margin: 10 0px;
    z-index: 1;
  }
  .label {
    position: absolute;
    font-family: system-ui;
    top: 16px;
    left: 15px;
    padding: 5px 4px 0 10px;
    color: #9fa4ad;
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 0;
  }
  .common-input:focus {
    border: 2px solid $orange7;
  }
  .common-input:focus + .label {
    top: -10px;
    left: 10px;
    z-index: 0;
    font-size: 14px;
    font-weight: 600;
    color: $orange8;
  }
  .common-input:is(:focus, :valid) ~ label {
    transform: translateY(-120%) scale(0.8);
    background-color:$orange13;
    padding-inline: 0.5rem;
    color: $orange7;
  }
  .common-input:not(:placeholder-shown)+ .label {
    top: 10px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

}

.snLogo {
  width: 600px; 
}

.hr-text {
  font-family: system-ui;
  line-height: 1rem;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, $orange5, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: rgb(255, 0, 0);

    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: $orange8;
    background-color: $orange2;
  }
}

.google-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-btn {
    width: 300px !important;
  }

  .go-to-signup {
    font-size: 20px;
  }

  .join-now {
    color: $orange9;
    font-family: system-ui;
    cursor: pointer;
    font-size: 18px;
  }
}
