$orange1: #f7f0d9;
$orange2: #f8f0d5;
$orange3: #f1ac41;
$orange4: #ef8f35;
$orange5: #ea5727;
$orange6: #ffe66b;
$orange7: #e94627;
$orange8: #c65314;
$orange9: #e26a2c;
$orange10: #ff8243;
$orange11: #ffae69;
$orange12: #ffd792;
$orange13: #ffbb7b;

.profile-card {
  height: auto;
  margin: 5px;
  padding: 5px;
  position: relative;
  bottom: -30px;
  .profile-info {
    display: flex;
    justify-content: space-between;
    background-color: $orange11;
    border-radius: 10px;
    border: 2px solid #212121;
    .profile-image{
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #cacaca;
      padding: 5px;
      cursor: pointer;
    }
    .right-info {
      margin-top: 25px;
      margin-right: 30px;
      .skills, .labores {
        font-family: system-ui;
        color: rgba(0, 0, 0, 0.9);
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
  .skill-label{
    font-weight: 600;
  }
  .edit-btn {
    left: 95%;
    position: relative;
    .edit-icon{
      cursor: pointer;
      padding: 10px;
    }
    .edit-icon:hover{
      background-color: $orange12;
      border-radius:50%;
    }
    button {
      cursor: pointer;
    }
  }

  .userName {
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
  }
  .labores {
    margin-top: -25px;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    width: 350px;
    line-height: 20px;
  }
}

