.profile-card {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  margin: 30px;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  .profile-info {
    display: flex;
    justify-content: space-between;
    .profile-image{
      width: 200px;
      height: 200px;
      object-fit: contain;
      border-radius: 50%;
      border: 2px solid #cacaca;
      padding: 5px;
      cursor: pointer;
    }
    .right-info {
      margin-top: 25px;
      margin-right: 30px;
      .skills, .labores {
        font-family: system-ui;
        color: rgba(0, 0, 0, 0.9);
        font-size: 14px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
  .skill-label{
    font-weight: 600;
  }
  .edit-btn {
    position: absolute;
    right: 35px;

    .edit-icon{
      cursor: pointer;
      padding: 10px;
    }
    
    .edit-icon:hover{
      background-color: rgb(195, 107, 0);
      padding: 10px;
      border-radius:100%;
    }
    button {
      cursor: pointer;
    }
  }

  .userName {
    font-family: system-ui;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
  }
  .labores {
    margin-top: -25px;
    font-family: system-ui;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
    width: 350px;
    line-height: 20px;
  }
}

